@media screen and (max-width: 768px) {
  .flex {
    width: 100vw;
    font-size: 1.6rem;
    flex-direction: column;
  }
  h1{
    font-size: 2rem;
  }
  body{
    width: 100vw;
  }
}

@media screen and (max-width: 320px) {
  .flex {
    width: 100vw;
    font-size: 1.6rem;
    flex-direction: column;
  }

  h1{
    font-size: 2rem;
  }

  body {
    width: 100vw;
  }
}

body {
  display: grid;
  background-color: #5CDB95;
  font-family: helvetica;
  color: #053865;
  background-image: url("/images/Shaka.png");
  max-width: 1240px;
  margin: auto;
  
}

h1 {
font-size: 10rem;
color: white;
margin-bottom: 0px;
margin-top: 0px;
}

h2 {
  font-size: 3.2rem;
  color: white;
  margin-left: 10px;
  margin-bottom: 0px;
  text-align: center;
}

h3 {
  font-size: 2rem;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
}
.topnav {
  overflow: hidden;
  border-style: solid;
  border-radius: 15px;
}

.topnav a {
  float: left;
  color: #053865;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.6rem;
}

.topnav a.split {
  float: right;
  background-color: #053865;
  color: white;
}

.list {
  list-style-type: none;
  color: white;
  font-size: 1.6rem;
  text-align: left;
}

#list {
  color: white;
  font-size: 1.6rem;
  text-align: left;
}

a {
  color: white;
}

p {
  color: white;
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 10px;
}

.flex {
  display: grid;
  flex-direction: column;
}

.container {
  display: grid;
  align-items: center;
  text-align: center;
}

header {
  margin-left: 0px;
  margin-bottom: 0;
  text-align: left;
}

article {
  margin-left: 10px;
  margin-bottom: 0px;
}

.bloglist {
  color: white;
  font-size: 1.6rem;
  text-align: left;
  list-style-type: decimal;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

