body {
  display: grid;
  background-color: #5CDB95;
  font-family: helvetica;
  color: #053865;
  background-image: url('/images/Shaka.png');
}

h1 {
font-size: 250px;
color: white;
margin: 10px 10px 0px 10px;
}

.homepage {
  font-size: 25px;
  color: white;
  margin: 0px 10px 0px 20px;
}

.topnav {
  overflow: hidden;
  background-color: #5CDB95;
  border-style: solid;
  border-radius: 15px;
}

.topnav a {
  float: left;
  color: #053865;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.split {
  float: right;
  background-color: #053865;
  color: white;
}

button {
  background-color: #5CDB95;
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  color: white;
  width: 50%;
  height: 100px;
  font-size: 30pt;
  margin-left: 10px;
  cursor: pointer;
}

.home-buttons {
  margin-top: 75px;
}

.about {
  font-size: 25px;
  position: fixed;
  bottom: 0;
  color: white;
}

.list {
  list-style-type: none;
  color: white;
  font-size: 25px;
}

a {
  color: white;
}

p {
  color: white;
  font-size: 25px;
  margin: 10px 10px 10px 20px;
  width: 75%;
}

.about {
  width: 100%;
}

#list {
  color: white;
  font-size: 25px;
}