html {
    background-color: black;
}

.header {
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 20px;
    border-color: white;
    border-radius: 15px;
}

h1 {
    font-size: 30pt;
    color: white;
}

p {
    font-size: 15px;
    color: white;
}